<div class="mt-4 mb-4">
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" value="{{course.name}}" id="name"
                placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description"
                placeholder="Enter description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="count_lesson">Count Lesson</label>
            <input type="text" name="count_lesson" class="form-control" value="{{course.count_lesson}}"
                id="count_lesson" placeholder="Enter Count lesson">
        </div>
        <div class="form-group">
            <label for="time">Thời gian</label>
            <input type="text" name="time" class="form-control" value="{{course.time}}" id="time"
                placeholder="Enter Time">
        </div>
        <div class="form-group">
            <label for="thumb_nail">Thumbnail</label>
            <input type="text" name="thumb_nail" class="form-control" value="{{course.thumb_nail}}" id="thumb_nail"
                placeholder="Enter thumb_nail">
        </div>
        <div class="form-group">
            <label for="video_id">Video ID</label>
            <input type="text" name="video_id" class="form-control" value="{{course.video_id}}" id="video_id"
                placeholder="Enter videoId">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>