<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-primary mb-2 btn-block mt-2">Học Ngay</button>
            <ul class="list-group">
                <li class="list-group-item">Trình độ cơ bản</li>
                <li class="list-group-item">Tổng số <strong>{{course.count_lesson}}</strong> bài học</li>
                <li class="list-group-item">Thời lượng <strong>{{course.time}}</strong></li>
                <li class="list-group-item">Học mọi lúc mọi nơi</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="853" height="480" src="https://www.youtube.com/embed/{{course.video_id}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>